html{
  background-color:  #e6e6e6;
}
body{
   background-color:  #e6e6e6;
}
.title{
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 6px;
  position: relative;
}

.caro{
  display: none;
}

.earthDay, .weatherReport, .title{
  display: inline-block;
}

.earthDay{
  margin-left:3%;
}

.marsSol{
  margin-left: 45px;
}

.weatherReport{
    display: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 120%;
    border: 1px solid #000;
    background-color: white;
    float: right;
    border-radius: 5px 5px 5px 5px;
    margin-top: -60px;
    margin-right: 20px;
  }


.glyphicon-chevron-right:before {
    content: "\e080";
    display: none;
}
.glyphicon-chevron-left:before {
    content: "\e080";
    display: none;
}

.btn{
  line-height: 0.9;
}

.solInput{
  width:80px;
}

.alert-warning{
  display:none;
}

.weatherWarn{
  display:none;
}

.active img {
  width: auto;
  height: 525px;
  max-height: 525px;
}

@media (max-width: 912px){
  .weatherReport{
    margin-top: 10px;
    margin-bottom: 10px;
    float:center;
    margin-right: 25%;
  }

  @media (max-width: 586px){
  .marsSol{
      margin-left:3%;
  }
}


