html{
  background-color:  #e6e6e6;
}
body{
   background-color:  #e6e6e6;
}
.title{
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 6px;
  position: relative;
}

.caro{
  display: none;
}

.earthDay, .weatherReport, .title{
  display: inline-block;
}

.earthDay{
  margin-left:3%;
}

.marsSol{
  margin-left: 4%;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 95%;
    margin: auto;
}



.weatherReport{
  display: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 120%;
  float:right;
  margin-top: 20px;
  border: 1px solid #000;
  margin-right:7%;
  background-color: white;
  border-radius: 5px 5px 5px 5px;

}

.glyphicon-chevron-right:before {
    content: "\e080";
    display: none;
}
.glyphicon-chevron-left:before {
    content: "\e080";
    display: none;
}

.btn{
  line-height: 1;
}

.solInput{
  width:80px;
}



